* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'WorkSans-regular';
    src: url('../Fonte/WorkSans-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-light';
    src: url('../Fonte/WorkSans-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-medium';
    src: url('../Fonte/WorkSans-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'WorkSans-regular', sans-serif;
    background-color: #FCFCF8;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCFCF8;
}

.topo {
    width: 100%;
    height: 20vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCF8;
}

.logo {
    width: 300px;
    height: 280px;
    object-fit: contain;
}

nav.nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 10px 0;
    height: 70px;
}

.nav-main a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    position: relative;
    display: inline-block;
}

.nav-main a::after {
    content: attr(data-text);
    font-weight: bold;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    display: block;
}

.nav-main a:not(.active) {
    opacity: 0.6;
}

.nav-main a.active,
.nav-main a:hover {
    opacity: 1;
    font-weight: bold;
}

.nav-main a:hover {
    color: #000;
}

.container p {
    font-size: 30px;
    color: #6A6060;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.contact-form {
    background-color: #FFFDFA;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 605px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    height: 32px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    opacity: 0.8;
}

.form-group textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    background-color: #E6DFD8;
    color: black;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 365px;
    font-family: 'WorkSans-medium';
}

.contact-form button[type="submit"]:hover {
    opacity: 0.8;
}

section .divider {
    width: 98%;
    margin: 0 auto 50px;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
}

/* --- FOOTER --- */
.footer {
    background-color: #B8B7B7;
    color: #fff;
    padding: 40px 20px 20px;
    margin-top: auto;
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer-top .footer-nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding: 0;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.footer-nav a:hover { color: #ddd; }

.footer-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo, .footer-info, .footer-social {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    flex-direction: column;
    text-align: center;
    line-height: 1.5;
}

.footer-logo img {
    height: 150px;
    filter: brightness(0) invert(1);
}

.footer-social {
    gap: 20px;
    font-size: 1.5em; /* Aumenta o tamanho do ícone pelo container */
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social a:hover { color: #ddd; }

.footer-copyright {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    padding-top: 20px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: calc(9vh - 15px); 
    right: 20px;
    z-index: 1002;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1024px) {
    nav.nav-main { gap: 40px; }

        .footer-top {
        display: none;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        
    }

    .footer{
        padding: 0 20px 20px;
    }
    
    .footer-logo {
        order: 1; 
        max-width: 50px;
        max-height: 100px;
    }

    /* 2. Informações de contato em segundo */
    .footer-info {
        order: 2; 
        line-height: 1.6;
    }

    /* 3. Redes sociais em terceiro */
    .footer-social {
        margin-top: 20px;
        order: 3;
        display: flex;
        gap: 25px;
        font-size: 1.8em;
    }
        
    /* 4. Copyright por último */
    .footer-copyright {
        order: 4;
        font-size: 0.8rem;
        opacity: 0.7;
        padding-top: 0;
    }

    .logo{
        height: 150px;
        width: 150px;
    }

}

@media (max-width: 768px) {

    .topo {
        height: 15vh;
        /* Altura menor para o topo no mobile */
        justify-content: center;
        padding: 0 50px;
    }

    .menu-toggle {
        display: block;
        left: 20px;
        right: auto;
        top: calc(7.5vh - 15px);
        /* Centraliza na nova altura do topo */
    }

    .menu-toggle.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .menu-toggle.active .bar:nth-child(2) { opacity: 0; }
    .menu-toggle.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }



    nav.nav-main {
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start; 
        z-index: 1000;
        
        position: fixed; 
        top: 0;
        left: 0;
        height: 100vh; 
        width: 280px;  
        padding-top: 80px; 

        background-color: #ffffff;
        box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        gap: 10px;

        
        transform: translateX(-100%); 
        transition: transform 0.4s ease-in-out;
    }

    
    nav.nav-main.active {
        transform: translateX(0); 
    }

    
    .nav-main a {
        width: 100%;
        text-align: left;
        padding: 15px 30px; 
        font-size: 20px;
        opacity: 0.8;
    }

    .nav-main a:hover {
        background-color: #f0f0f0;
    }

    

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 999; 

        opacity: 0; 
        visibility: hidden; 
        transition: opacity 0.4s ease, visibility 0.4s ease;
    }

   
    .overlay.active {
        opacity: 1; 
        visibility: visible; 
    }

   .menu-toggle.active {
        position: fixed;
        top: 35px;
        left: 20px;
    }

    .contact-form{
        margin: 20px;
        padding: 20px;
        width: auto;
    }
    #btn-enviar{
        width: 85%;
    }

}